.container__abt {
    min-height: 400px;
    background-color: #80D1C5;
}

.wrapper__abt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutme {
    justify-content: center;
    text-align: center;
    flex: 1;
}

.personal__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        border-radius: 50px;
        max-height: 150px;
        width: auto;
        padding-left: 10px;

    }
    p {
        padding-top: 30px;
        padding-left: 20px;
        text-align: center;
    }
}

.technologies {
    justify-content: center;
    text-align: center;
    flex: 1;
}

.stack__container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

.img__container {
    flex-direction: row;
    img {
        max-height: 70px;
        width: auto;
        padding: 20px;
    }
}