.contacts__container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact__links {
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    a img{
        max-width: 60px;
        height: auto;
        padding: 30px;
    }
}